<div class="l-form">
            <div class="shape1"></div>
            <div class="shape2"></div>

        <div style="display: flex; flex-direction: row;">
            <img src="{% static 'img/university.png' %}" alt="" id="img_uni">
            <a href="#" class="nav__logo logo_login">
                    Campus && Cave
                </a>
        </div>
</div>