{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="l-form">
            <div class="shape1"></div>
            <div class="shape2"></div>

        <div style="display: flex; flex-direction: row;">
            <img src="{% static 'img/university.png' %}" alt="" id="img_uni">
        </div>
            <div class="row justify-content-center mt-5" style="margin-top: 200px">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center">Change Password</h1>
                            {% include 'partials/user_form.html' with form_method='POST' %}
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
