{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="l-form">
            <div class="shape1"></div>
            <div class="shape2"></div>
{#            {{ message }}#}

        <div style="display: flex; flex-direction: row;">
            <img src="{% static 'img/university.png' %}" alt="" id="img_uni">
        </div>
    <div class="main_login">
            <div class="form" id="login_form">
{#                <img src="{% static 'img/donut.gif' %}" width="70px" id="donut"/>#}
{#                <img src="{% static 'img/sandwich.gif' %}" width="70px" id="sandwich"/>#}

                <img src="{% static 'img/person1.jpg' %}" width="200px" id="person1"/>
                <img src="{% static 'img/person2.jpg' %}" width="230px" id="person2"/>

                 <form action="{% url 'login' %}?next={{ request.GET.next }}" method="POST" class="form-content">
                    <h1 class="form__title">Welcome</h1>
                    <div class="form__div form__div-one">
                        <div class="form__icon">
                            <i class='bx bx-user-circle'></i>
                        </div>

                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}

                        <div class="form__div-input">
{#                            <label for="username" class="form__label">Username</label>#}
                            <input type="text" class="form__input" name="username" placeholder="Username">
                        </div>
                    </div>

                    <div class="form__div">
                        <div class="form__icon">
                            <i class='bx bx-lock' ></i>
                        </div>

                        <div class="form__div-input">
{#                            <label for="password" class="form__label">Password</label>#}
                            <input type="password" class="form__input" name="password" placeholder="Password">
                        </div>
                    </div>
                    <p class="text-danger">{{ message }}</p>
                    <a href="#" class="form__forgot">Forgot Password?</a>

                    <input type="submit" class="form__button" value="Login">
                 <div style="text-align: center" class="mb-4">
                     <a href="{% url 'signup' %}" class="text-center">Do no have an account?</a>
                     </div>

                    <div class="form__social">
                        <span class="form__social-text">Our login with</span>

                        <a href="#" class="form__social-icon"><i class='bx bxl-facebook' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-google' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-instagram' ></i></a>
                    </div>
                </form>
            </div>
    </div>

        </div>
        <script src='{% static 'js/main.js' %}'></script>
{% endblock %}
