{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="l-form">
    <div class="shape1"></div>
    <div class="shape2"></div>

    <div style="display: flex; flex-direction: row;">
        <img src="{% static 'img/university.png' %}" alt="" id="img_uni">
    </div>
    <h2 class="text-center">Profile</h2>

    <div class="d-flex justify-content-center">
        <div class="card2">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">{{ user_obj.position|default:'User' }}</div>
                    <div class="points center">0 Points</div>
                    <div class="avatar">
                        {% if user_obj.profile.avatar %}
                            <img src="{{ user_obj.profile.avatar.url }}" alt="avatar" >
                            {% elif user_obj.gender == 'male'%}
                                <img src="{% static 'img/student.png' %}" alt="">
                            {% elif user_obj.gender == 'female'%}
                                <img src="{% static 'img/student(1).png' %}" alt="">
                            {% else %}
                                <img src="{% static 'img/blocked.png' %}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="more-info" style="text-align: center">
                    <h1>{{ user_obj.first_name }} {{ user_obj.last_name }}</h1>
                    <div class="coords mt-3">
                        <strong>Username:</strong>
                        {% if user_obj.username %}
                        <span>{{ user_obj.username }}</span>
                        {% else %}
                        <span class="text-warning">Not declared</span>
                        {% endif %}
                    </div>
                    <div class="coords mt-3">
                        <strong>First Name:</strong>
                        {% if user_obj.first_name %}
                        <span>{{ user_obj.first_name }}</span>
                        {% else %}
                        <span class="text-warning">Not declared</span>
                        {% endif %}
                    </div>
                    <div class="coords mt-3">
                        <strong>Last Name:</strong>
                        {% if user_obj.last_name %}
                        <span>{{ user_obj.last_name }}</span>
                        {% else %}
                        <span class="text-warning">Not declared</span>
                        {% endif %}
                    </div>
                    <div class="coords mt-3">
                        <strong>Number:</strong>
                        {% if user_obj.profile.number %}
                        <span>{{ user_obj.profile.number }}</span>
                        {% else %}
                        <span class="text-warning">Not declared</span>
                        {% endif %}
                    </div>
                    <div class="coords mt-3">
                        <strong>Birth Date:</strong>
                        {% if user_obj.profile.birth_date %}
                        <span>{{ user_obj.profile.birth_date }}</span>
                        {% else %}
                        <span class="text-warning">Not declared</span>
                        {% endif %}
                    </div>
                    <div class="stats">
                        <div>
                            <div class="title">Awards</div>
                            <i class="fa fa-trophy"></i>
                            <div class="value">0</div>
                        </div>
                        <div>
                            <div class="title">Matches</div>
                            <i class="fa fa-gamepad"></i>
                            <div class="value">0</div>
                        </div>
                        <div>
                            <div class="title">Pals</div>
                            <i class="fa fa-group"></i>
                            <div class="value">123</div>
                        </div>
                        <div>
                            <div class="title">Coffee</div>
                            <i class="fa fa-coffee"></i>
                            <div class="value infinity">∞</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center">
                <h1>{{ user_obj.username }}</h1>
                <p>Bio: {{ user_obj.profile.bio }}</p>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
