{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="l-form">
    <div class="shape1"></div>
    <div class="shape2"></div>

    <div style="display: flex; flex-direction: row;">
        <img src="{% static 'img/university.png' %}" alt="" id="img_uni">
    </div>


    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h2 class="text-center mt-3">Profile Edit</h2>
                <div class="card-body">
                    <form action="{% url 'profile_edit' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'partials/user_form.html' with form=form fields_only=True %}
                        {% include 'partials/user_form.html' with form=profile_form fields_only=True %}
                        <button type="submit" class="btn btn-outline-success mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}
