{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="l-form">
    <div class="shape1"></div>
    <div class="shape2"></div>
    <div style="display: flex; flex-direction: row;">
        <img src="{% static 'img/university.png' %}" alt="" id="img_uni">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg" id="signup" style="height: 80vh; overflow-y: auto;">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Registration</h1>
                        <form action="{% url 'signup' %}?next={{ request.GET.next }}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for error in form.non_field_errors %}
                                    <p>Error while doing:</p>
                                    <p class="alert alert-danger">{{ error }}</p>
                                {% endfor %}
                                {% for error in form.errors %}
                                        <p>Error while doing:</p>
                                        <p class="alert alert-danger">{{ error }}</p>
                                {% endfor %}

                                <div class="form-group mb-3">
                                    <label for="id_username">Username:</label>
                                    <input type="text" name="username" id="username" class="form-control">
        {#                            {{ form.username }}#}
                                </div>

                                <div class="form-group mb-3">
                                    <label for="id_password">Password:</label>
                                    <input type="password" name="password" id="password" class="form-control">
        {#                            {{ form.password }}#}
                                </div>

                                <div class="form-group mb-3">
                                    <label for="id_password_confirm">Password Confirm:</label>
                                    <input type="password" name="password_confirm" id="password_confirm" class="form-control">
        {#                            {{ form.password_confirm }}#}
                                </div>

                                <div class="form-group mb-3">
                                    <label for="id_first_name">First Name:</label>
                                    <input type="text" name="first_name" id="first_name" class="form-control">
        {#                            {{ form.first_name }}#}
                                </div>

                                <div class="form-group mb-3">
                                    <label for="id_last_name">Last Name:</label>
                                    <input type="text" name="last_name" id="last_name" class="form-control">
        {#                            {{ form.last_name }}#}
                                </div>

                                <div class="form-group mb-3">
                                    <label for="id_email">Email:</label>
                                    <input type="text" name="email" id="email" class="form-control">
        {#                            {{ form.email }}#}
                                </div>

                                <div class="form-group mb-3">
                                    <label for="id_position">Position:</label><br>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="position" id="id_position_student" value="student" class="form-check-input">
                                        <label for="id_position_student" class="form-check-label">Student</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="position" id="id_position_worker" value="worker" class="form-check-input">
                                        <label for="id_position_worker" class="form-check-label">Worker</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="position" id="id_position_seller" value="seller" class="form-check-input">
                                        <label for="id_position_seller" class="form-check-label">Seller</label>
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="id_position">Gender:</label><br>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" id="id_gender_male" value="male" class="form-check-input">
                                        <label for="id_gender_male" class="form-check-label">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" id="id_gender_female" value="female" class="form-check-input">
                                        <label for="iid_gender_female" class="form-check-label">Female</label>
                                    </div>
                                </div>


                            <div class="form-group" id="sellerform">
                                    <input type="checkbox" id="seller">
                                    <p id="pseller">I am an Seller</p>
                            </div>


                                <div class="form-group" id="documentation" style="display: none">
                                    <label for="" class="text-danger" >You need to upload the documentation confirming that you are the seller! <p class="text-primary" id="see_more">Know more.</p></label>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="fileToUpload">Choose file</label>
                                            <input type="file" name="seller_file" id="seller_file" class="form-control">
                                        </div>
                                </div>
                                <button type="submit" class="btn btn-outline-success btn-block mt-4">Register</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
