{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="specialty section container">
    <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
    <div class="products__content grid">
        {% if categories %}
            {% for category in categories %}
                <article class="products__card category">
                    <div class="products__data">
                        <h2 class="products__name">{{ category.name }}</h2>
                        <p class="products__description">{{ category.description|default:"No description" }}</p>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <h2 class="alert-warning form-control">There are no categories yet.</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
