/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root{
    --first-color: #12192C;
    --text-color: #8590AD;
}

:root{
    --body-font: 'Roboto', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*--first-color: hsl(36, 72%, 48%);*/
  --first-color-alt: hsl(36, 72%, 44%);
  --black-color: hsl(206, 12%, 12%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(206, 12%, 12%);
  --text-color: hsl(206, 4%, 42%);
  --text-color-light: hsl(206, 4%, 75%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Lato', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h1, h2, h3, p {
  line-height: 140%;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  position: relative;
  font-size: var(--h1-font-size);
  padding-left: 1.25rem;
  margin-bottom: 2.5rem;
}

.section__title::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header{
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: #fff;
}

.nav__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
  color: #ff6600;
}

.nav__logo-img{
  width: .75rem;
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.15rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--black-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: .3s;
  }
}

.nav__list{
  display: flex;
    flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;

}

.nav__link{
  text-transform: uppercase;
  color: var(--text-color-light);
  font-size: var(--h2-font-size);
  transition: .3s;
}

.nav__link:hover{
  color: #fff;
}

.nav__close{
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.show-menu{
  right: 0;

}

.scroll-header{
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle{
  color: var(--title-color);
}

.scroll-header .nav__logo-img{
  mix-blend-mode: difference;
}

.home{
  gap: 0;
}

.home__container{
  padding: 7rem 0 2.5rem;
  background: linear-gradient(
  160deg,
  hsla(206, 5%, 24%,1 )-4%,
  hsla(206, 12%, 12%, 1) 46%
  );
}

.some{
  background: aqua;
  width: 500px;
  height: 500px;
}

.home__content{
  position: relative;
}

.home__title,
.home__data-title{
  color: #fff;
}
.home__data-number,
.home__data-description{
  color: #ff6600;
}


.home__title{
  font-size: var(--biggest-font-size);
  margin-bottom: 1.5rem
}

.home__title span{
  color: var(--first-color)
}

.home__description{
  margin-bottom: 2rem;
  color: #fff;
}

.home__data{
  border-top: 1px solid var(--text-color);
  padding-top: 2rem;
  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  column-gap: 1.5rem;
}

.home__data-title{
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.home__scroll{
  position: absolute;
  width: 100px;
  bottom: -7rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: scroll 3s infinite;
}
/* Scroll image animate */

@keyframes scroll{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-.5rem);
  }
  100%{
    transform: translateY(0);
  }
}


/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--black-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: .25rem;
  font-size: var(--normal-font-size);
  text-transform: uppercase;
}

/*=============== SPECIALTY ===============*/
.specialty__button{
  margin-left: 1.25rem;
}

.specialty__category{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 200px;
  justify-content: center ;
  row-gap: 2.5rem;
}

.specialty__img{
  width: 300px;
  margin-bottom: 1rem;
  transition: .4s;
}

.specialty__group{
  text-align: center;
}

.specialty__title{
  font-size: var(--h2-font-size);
}

.specialty__group:hover .specialty__img{
  transform: translateY(-.25rem)
}


/*=============== PRODUCTS ===============*/
.products__filters{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
  margin-bottom: 3.5rem;
}

.products__line{
  position: relative;
}
.products__line::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 40px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.products__item{
  cursor: pointer;
}

.products__title{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: .5rem;
}
.products__stock{
  font-size: var(--small-font-size)
}
.products__content{
  grid-template-columns: 200px;
  justify-content: center;
}

.products__card{
  background-color: var(--container-color);
  border-radius: .5rem;
}
.request{
  /*border: 1px solid gray;*/
  border-radius:3px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.products__img{
  width: 150px;
  transition: .4s;
}

.products__shape{
  background-color: var(--card-color);
  border-radius: .5rem .5rem 0 0 ;
  text-align: center;
  padding: .25rem 0;
}

.products__data{
  padding: 1rem 0 1.25rem 1rem;
  position: relative;
}
.products__price{
  font-size: var(--h2-font-size);

}

.products__name{
  font-size: var(--normal-font-size);
}
.products__button{
  border-radius: 50%;
  padding: .625rem;
  display: inline-block;
  font-size: 1.25rem;
  position: relative;
  right: 1rem;
  top: 1.25rem;
  box-shadow: 0 4px 12px hsla(206, 4%, 4%, .2);
}

.products__card:hover .products__img{
  transform: translateY(-.25rem);
}

.disabled-input {
    opacity: 0.5; /* Reduce opacity to indicate it's disabled */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    pointer-events: none; /* Disable pointer events */
    border: none;
  color: dimgray;
}




/* Active link products */


/*=============== QUALITY ===============*/

.quality{
  background-color: #fff;

}

.quality__content{
  row-gap: 2.5rem;
}
.quality__images{
  position: relative;
  justify-content: center;
}
.quality__img-big,
.quality__img-small{
  border-radius: .5rem;
}

.quality__img-big{
  width: 200px;
}

.quality__img-small{
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transform: translateX(-5rem);
}

.quality__title,
.quality__price{
  font-size: var(--h1-font-size)
}

.quality__title{
  margin-bottom: .75rem;
}
.quality__price{
  margin-bottom: .25rem;
}

.quality__special{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .75rem;
}

.quality__description{
  margin-bottom: 2.5rem;
}
.quality__buttons{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.quality__button{
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  color: var(--title-color);
  column-gap: .75rem;
  display:inline-flex;
  align-items: center;
}
.quality__button i{
  font-size: 1.25rem;
  transition: .4s;
}

.quality__button:hover i{
  transform: translateX(.25rem);
}

.blog__container{
  padding-bottom: 2rem;
}
.blog__content{
  row-gap: 3rem;
}
.blog__image{
  position: relative;
  margin-bottom:  1.5rem;
}
.blog__img{
  border-radius: .5rem;
}

.blog__button{
  display: inline-flex;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: .5rem 0 .5rem 0;
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  right: 0;
  bottom: 0;

}

.blog__button i{
  transform: rotate(-30deg);
  transition: .4s;
}
.blog__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}

.blog__footer,
.blog__reaction{
  display: flex;
  align-items: center;
}

.blog__footer{
  column-gap: 1.5rem;

}

.blog__reaction{
  column-gap: .25rem;
}
.blog__reaction i{
  font-size: 1.25rem;
}
.blog__reaction span{
  font-size: var(--small-font-size);
}
/*=============== FOOTER ===============*/
.footer{
  background-color: var(--black-color);
  padding: 4rem 0 2.5rem;
  color: #ff6600;;
}
.footer__title{
  color: white;
  font-size:var(--h1-font-size);
  margin-bottom: 2rem;
}
.footer__description{
  margin-bottom: .75rem;
}
.footer__newsletter{
  display: flex;
  column-gap: .5rem;
}
.footer__input{
  border: none;
  outline: none;
  padding: 1.25rem 1rem;
  border-radius: .25rem;
  width: 70%;
  color: var(--text-color);
}

.footer__button{
  padding: .75rem;
  font-size: 2rem;
  border-radius: .25rem;
  display: inline-flex;
  background-color: var(--first-color);
}

.footer__button i{
  transform: rotate(-30deg);
  transition: .4s;
}

.footer__button:hover i{
  transform: rotate(-30deg) translate(.25rem);
}

.footer__content{
  row-gap:2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid  var(--text-color);
}
.footer__subtitle{
  color: white;
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}
.footer__group{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
}
.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.footer__social-link{
  color: #fff;
  transition: .4s;
}

.footer__social-link:hover{
  color: var(--first-color)
}

.footer__copy{
  font-size: var(--smaller-font-size);
}

@media screen and (max-width: 3202px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .quality__img-small{
    transform: translateX(-6rem);
  }
  .quality__buttons{
    flex-direction: column;
    row-gap: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .specialty__category{
    grid-template-columns: repeat(2, 200px);
    column-gap: 3rem;
  }

  .products__content{
    grid-template-columns: repeat(2, 200px);
    padding-bottom: 3rem;
  }

  .blog__content{
    grid-template-columns: 450px;
    justify-content: center;
  }

  .footer__newsletter{
    width: 350px;
  }
}

/* For large devices */
@media screen and (min-width: 767px){
  .section{
    padding: 7rem 0 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    padding-top: 0;
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__link{
    position: relative;
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .nav__link::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: var(--text-color-light);
    transform: translateX(1.25rem);
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .scroll-header .nav__link{
    color: var(--text-color);
  }
  .scroll-header .active__link{
    color: var(--text-color);
  }
  .scroll-header .active__link::after{
    background-color: var(--title-color);
  }
  .home{
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    position: relative;
  }
  .home__content{
    position: initial;
  }
  .home__scroll{
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .products__filters{
    grid-template-columns: repeat(3, 200px);
  }
  .quality__content,
  .footer__content{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

}

@media screen and (min-width: 1040px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }

  .home__content{
    max-width: 400px;
    margin-right: 7rem;
    margin-left: auto;
  }
  .section__title{
    padding-right: 15rem;
    padding-left: 1.75rem;
  }
  .section__title::before{
    height: 28px;
    width: 4px;
    top: 12px;
  }
  .specialty__box{
    display: grid;
    grid-template-columns: 2fr .5fr;
  }
  .specialty__group{
    text-align: initial;
  }
  .specialty__category{
    grid-template-columns: repeat(3, 250px);
    column-gap: 8rem;
  }
  .specialty__line{
    position: relative;
  }
  .specialty__line::before{
    content: '';
    width: 1px;
    height: 120px;
    background-color: var(--text-color-light);
    position: absolute;
    right: -5rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .specialty__img{
    width: 350px;
    margin-bottom: 1.5rem;

  }

  .products__filters{
    margin: 4rem 0 5.5rem;
    column-gap: 4rem;
  }
  .products__content{
    grid-template-columns: repeat(3, 262px);
    justify-content: initial;
    column-gap: 5rem;
  }
  .products_card{
    border-radius: .75rem;
  }
  .products__img{
    width: 200px;
  }
  .products__shape{
    padding: 2rem 0;
    border-radius: .75rem .75rem 0 0;
  }
  .products__data{
    padding: 1rem 0 1.5rem 1.5rem;
  }
}


@media screen and (min-width: 1700px){
  .home{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}


#dropdown-item,
#navbarDropdown{
  top: -7px;
  left: -20px;
  color: #ff6600;
  font-weight: bold;
}

.login{
  margin: 100px;
}











@media screen and (min-width: 768px){
    :root{
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--first-color);
}
h1{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
/*===== FORM =====*/
.l-form{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/*=== Shapes ===*/
.shape1,
.shape2{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.shape1{
    top: -7rem;
    left: -3.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(196,196,196,0) 100%);
}
.shape2{
    bottom: -6rem;
    right: -5.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(196,196,196,0) 100%);
    transform: rotate(180deg);
}

.form{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.form__content{
    width: 290px;
}
.form__img{
    display: none;
}
.form__title{
    font-size: var(--big-font-size);
    font-weight: 500;
    margin-bottom: 2rem;
}
.form__div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin-bottom: 1rem;
    padding: .25rem 0;
    border-bottom: 1px solid var(--text-color);
}

.form__div.focus{
    border-bottom: 1px solid var(--first-color);
}

.form__div-one{
    margin-bottom: 3rem;
}

.form__icon{
    font-size: 1.5rem;
    color: var(--text-color);
    transition: .3s;
}

.form__div.focus .form__icon{
    color: var(--first-color);
}

.form__label{
    display: block;
    position: absolute;
    left: .75rem;
    top: .25rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    transition: .3s;
}

.form__div.focus .form__label{
    top: -1.5rem;
    font-size: .875rem;
    color: var(--first-color);
}

.form__div-input{
    position: relative;
}
.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: .5rem .75rem;
    font-size: 1.2rem;
    color: var(--first-color);
    transition: .3s;
}
.form__forgot{
    display: block;
    text-align: right;
    margin-bottom: 2rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 500;
    transition: 0.5s;
}
.form__forgot:hover{
    color: var(--first-color);
    transition: .5s;
}
.form__button{
    width: 100%;
    padding: 1rem;
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
    margin-bottom: 3rem;
    background-color: var(--first-color);
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}
.form__button:hover{
    box-shadow: 0px 15px 36px rgba(0,0,0,.15);
}


.form__social{
    text-align: center;
}
.form__social-text{
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}
.form__social-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    padding: .5rem;
    background-color: var(--text-color);
    color: #fff;
    font-size: 1.25rem;
    border-radius: 50%;
}
.form__social-icon:hover{
    background-color: var(--first-color);
}

.logo_login, #profile_main{
  color: #ff6600;
  font-weight: bolder;
}
#donut{
  position: absolute;
  margin-left: 830px;
  margin-top: -430px;
}

#sandwich{
  position: absolute;
  margin-left: 200px;
  margin-top: 400px;
}

#coffee{
  position: absolute;
  margin-left: 200px;
  margin-top: -400px;
}

#person1{
  position: relative;
  margin-left: 300px;
}

#person2{
  position: absolute;
  margin-left: 600px;
}

#loginandpassword{
  margin-top: -10px;
}
#img_uni{
  width: 70px;
  margin: 40px;
  /*height: 100px;*/
}

#login_form{
  /*background-color: #dE685E;*/
  width: 500px;
}

.main_login{
  /*background-color: #92bCa6;*/
}



@media screen and (max-width: 400px){
    .shape1{
        width: 270px;
        height: 400px;
        top: -11rem;
        left: -6.5rem;
    }
    .shape2{
        width: 200px;
        height: 300px;
        right: -6.5rem;
    }
    #img_uni{
      width: 50px;
    }
    #person1, #person2, #sandwich, #donut{
      display: none;
    }
    .form{
        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
        /*margin-left: 100px;*/
        width: 320px;
    }
    #login_form{
      margin: 0 auto;
      width: 320px ;
    }
    .logo_login{
      display: none;
    }
    #sandwich{
      /*position: absolute;*/
      display: block;
      margin-left: -30px;
      margin-top: 30px;
    }
    #donut{
      /*position: absolute;*/
      display: block;
      /*margin: 0;*/
      margin-top: -410px;
      margin-left: 190px;
    }
    #person1{
      display: block;
      /*margin: 0;*/
      position: absolute;
      width: 70px;
      margin-top: -700px;
      margin-left: 150px;
    }

}

@media screen and (min-width: 400px){
    .shape1{
        width: 270px;
        height: 400px;
        top: -11rem;
        left: -6.5rem;
    }
    .shape2{
        width: 200px;
        height: 300px;
        right: -6.5rem;
    }
    #img_uni{
      width: 50px;
    }
    /*#person1, #person2, #sandwich, #donut{*/
    /*  display: none;*/
    /*}*/
    .form{
        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
        /*width: 500px;*/
    }
    #login_form{
      margin: 0 auto;
      width: 500px;
    }
    .logo_login{
      display: none;
    }
    #sandwich{
      position: absolute;
      display: block;
      margin-left: -30px;
      margin-top: 30px;
    }
    #donut{
      position: absolute;
      display: block;
      /*margin: 0;*/
      margin-top: -410px;
      margin-left: 190px;
    }
    #person1{
      display: block;
      /*margin: 0;*/
      position: absolute;
      width: 70px;
      margin-top: -700px;
      margin-left: 150px;
    }

}

@media screen and (min-width: 968px){
    .shape1{
        width: 400px;
        height: 400px;
        top: -11rem;
        left: -6.5rem;
    }
    .shape2{
        width: 300px;
        height: 300px;
        right: -6.5rem;
    }

    .form{

        grid-template-columns: 1.5fr 1fr;
        padding: 0 2rem;
        width: 1000px;
    }
   #login_form{
     margin-top: -100px;
     width: 1000px;
     margin-left: 630px;
   }
    #person1, #person2{
      display: block;
      /*width: 50px;*/
      position: absolute;
      /*margin-left: 100px;*/
    }
    #person2{
      margin-top: -150px;
    }
    #person1{
      margin-left: -450px;
      margin-top: 70px;
      width: 200px;
    }
    #img_uni{
      width: 70px;
    }
    #donut, #sandwich{
      margin: 0;
      position: absolute;
    }
    #donut{
      margin-top: -400px;
      margin-left: -150px;
    }
    #sandwich{
      margin-top: 500px;
      margin-left: -150px;
    }
    .logo_login{
      display: block;
      margin-top: 60px;
      font-weight: bolder;
    }
    #shop-detail-image{
      width: 400px;
      margin: 0 auto;
    }
    #shop-detail{
      display: flex;
      flex-direction: column;
    }
    #shop-detail-location, #shop-detail-owner{
      margin-left: 20px;
    }

}
#shop-detail-location, #shop-detail-owner{
      margin: 20px;
    }
#shop-detail-image{
  padding: 15px;
}
#shop-detail-location{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#signup{
  /*margin-bottom: 700px;*/
  margin-top: -50px;
  /*background-color: #ff6600;*/
}
#sellerform{
  display:flex; flex-direction: row
}

#pseller{
  margin: 4px
}

#see_more{
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card2 {
  width: 650px;
  height: 450px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card2 h1 {
  text-align: center;
}

.card2 .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card2.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card2:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card2 .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card2 .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card2 .additional .user-card .level,
.card2 .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card2 .additional .user-card .points {
  top: 85%;
}

.card2 .additional .user-card svg {
  top: 50%;
}

.card2 .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card2 .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}


.card2 .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card2 .additional .coords span + span {
  float: right;
}

.card2 .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card2 .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card2 .additional .stats i {
  display: block;
}

.card2 .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card2 .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card2 .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card2 .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card2 .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.avatar{
  padding: 10px;
  margin-top: 100px;
}
body{
  overflow-y: auto;
}
.go_back{
  width: 200px;
  height: 200px;
  font-size: 20px;
  color: #12192C;
  background-color: darkgrey;
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px;
}

a.go_back{
  text-decoration: underline;
  cursor: pointer;
}


#shop-detail{
  background-color: #92bCa6;
}
#shop-detail-welcome{
  text-align: center;
  color: dimgray;
  /*margin-left: 100px;*/
}

#go-back:hover{
  background-color: #92bCa6;
  color: inherit;
}



.input-group {
    display: flex;
    align-items: center;
}
.products__title {
    margin-right: 10px;
}

#alertBox {
    /*display: none;*/
}

.bill {
    border: 2px solid #000;
    padding: 20px;
}

.bill-header {
    text-align: center;
}

.bill-items {
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
}

.item-cost {
    font-style: italic;
}

.bill-total {
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
}

#buy-detail{
  display: none;
  position: relative;
}
.buy-detail2{
  position: relative;
}
.buy-display{
  display: flex;
  flex-direction: column;
  border: 1px solid darkred;
  border-radius: 5px;
  padding: 10px;
}
#buy-detail-second{
  display: none;
}
.owner-mode{
  text-align: center;
  color: white;
}
.owner-message{
  color: darkgrey;
}
.owner-yes-no{
  margin: 15px;
}
#shop-owner{
    margin-top: 30px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}