{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">

        <div class="card-header bg-secondary text-white">

            <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
          <h5 class="mb-0">Create Product</h5>
        </div>

        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
              <button type="submit" class="btn btn-outline-success mt-3">Create Product</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
