{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5 specialty section">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Delete Product Confirmation</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <h5 class="alert-heading">Are you sure you want to delete the following product?</h5>
                    <hr>
                    <div class="mb-3">
                        <h5 class="card-title">Product Name: </h5>
                        <p class="card-text">{{ product.name }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Cost: </h5>
                        <p class="card-text">{{ product.cost }}tg</p>
                    </div>
                    <!-- Add more fields as needed -->
                </div>
                <form action="{% url 'product_delete' product.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="shop_pk" value="{{ product.shop.pk }}" >
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="#" onclick="history.back()" class="btn btn-secondary" id="go-back">Cancel</a>
{#                    <a href="{% url 'shop_detail' pk=product.shop.pk %}" class="btn btn-secondary">Cancel</a>#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
