{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 mt-5">
            <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
            <div class="card mt-3">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'img/fast-food.png' %}" alt="" class="card-img-top">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Ingredients: {{ product.ingredients }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cost: {{ product.cost }}tg</li>
                    <li class="list-group-item">{% if product.number %}Left: {{ product.number }} {% if product.number > 1 %}{{ product.name }}s {% else %}{{ product.name }}{% endif %}{% else %}Unfortunatily we run out of this product{% endif %}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
