{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5 specialty section">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h4 class="mb-0">Update Product</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'product_update' product.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="productName" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="productName" name="name" value="{{ product.name }}">
                    </div>
                    <div class="mb-3">
                        <label for="productCost" class="form-label">Cost</label>
                        <input type="number" class="form-control" id="productCost" name="cost" value="{{ product.cost }}">
                    </div>
                    <div class="mb-3">
                        <label for="productIngredients" class="form-label">Ingredients</label>
                        <input type="text" class="form-control" id="productIngredients" name="ingredients" value="{{ product.ingredients }}">
                    </div>
                    <div class="mb-3">
                        <label for="productImage" class="form-label">Product Image</label>
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="Product Image" style="max-width: 200px; margin-top: 10px;">
                            <div class="mt-3">
                                {{ form.image }}
                            </div>
                        {% else %}
                            {{ form.image }}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="productNumber" class="form-label">Number of Products</label>
                        <input type="number" class="form-control" id="productNumber" name="number" value="{{ product.number }}">
                    </div>
                    <div class="mb-3">
                        <label for="productCategory" class="form-label">Category</label>
                        {{ form.category }}
                    </div>
                    <input type="hidden" name="shop_pk" value="{{ product.shop.pk }}" >
                    <button type="submit" class="btn btn-outline-success">Update Product</button>
                    <a href="#" onclick="history.back()" class="btn btn-secondary" id="go-back">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
