{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="specialty section container">

<div class="container mt-5">
    {% if has_approved_request %}
        <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
        <h3 class="mb-4">Create a New Shop</h3>
        <form action="{% url 'shop_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="invalid-feedback">
                        {{ form.name.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.location.label_tag }}
                {{ form.location }}
                {% if form.location.errors %}
                    <div class="invalid-feedback">
                        {{ form.location.errors|join:", " }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        {% elif has_refused_request %}
            <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
            <div class="alert alert-warning text-center mt-5 mb-5" role="alert">
                <p class="alert-warning form-control">Your request was refused</p>
                <a href="{% url 'request_create' %}" class="btn btn-outline-success form-control w-50 mt-3 mb-3">Create request</a>
                <a href="{% url 'request_list' %}" class="btn btn-outline-secondary form-control w-50 mt-3 mb-3">Show my own requests</a>
            </div>
    {% else %}
       <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
        <div class="alert alert-warning text-center mt-5 mb-5" role="alert">
            Your shop creation request needs approval before you can create a new shop.
            You should to create new request:
            <a href="{% url 'request_create' %}" class="btn btn-outline-success form-control w-50 mt-3 mb-3">Create request</a>
            <a href="{% url 'request_list' %}" class="btn btn-outline-secondary form-control w-50 mt-3 mb-3">Show my own requests</a>
        </div>
    {% endif %}
</div>
</div>

{% endblock %}
