{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5 specialty section">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Close the Shop Confirmation</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <h5 class="alert-heading">Are you sure you want to close the shop</h5>
                    <hr>
                    <div id="shop-detail-image">
                        <img src="{{ shop.image.url }}" alt="{{ shop.name }}">
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Shop Name: </h5>
                        <p class="card-text">{{ shop.name }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Location: </h5>
                        <p class="card-text">{{ shop.location }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Created by:</h5>
                        <p class="card-text">{{ shop.owner }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title" style="display: flex; flex-direction: row" ></h5>
                    </div>
                </div>
                {% if has_approved_request %}
                <form action="{% url 'shop_delete'  shop.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="{% url 'shop_detail' shop.pk %}" class="btn btn-secondary">Cancel</a>
                </form>
                    {% else %}
                    <div class="alert alert-warning text-center mt-5 mb-5" role="alert">
                        Your shop delete request needs approval before you can create a new shop.
                        You should to create new request:
                        <a href="{% url 'request_create' %}?shop={{ shop.id }}" class="btn btn-outline-success form-control w-50 mt-3 mb-3">Create Request</a>
                        <a href="{% url 'request_list' %}" class="btn btn-outline-secondary form-control w-50 mt-3 mb-3">Show my own requests</a>
                    </div>
                    <a href="{% url 'shop_detail' shop.pk %}" class="btn btn-secondary">Cancel</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}