{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

     <div class="specialty section container">
         <a href="{% url 'shops' %}" class="form-control w-25 mb-3" id="go-back">Go back</a>
        <div class="specialty__container">
        {% if request.user.position == 'seller' and shop.owner.username == request.user.username %}
            <div class="specialty__box" id="shop-detail" style="background-color: cornsilk">
            {% else %}
                <div class="specialty__box" id="shop-detail">
            {% endif %}
            <div>
            <h1 id="shop-detail-welcome">Welcome to the {{ shop.name }}</h1>
            </div>
                <div id="shop-detail-image">
                    <img src="{{ shop.image.url }}" alt="{{ shop.name }}">
                </div>
                <div id="shop-detail-location">
                    <h6>We are in: {{ shop.location }}</h6>
                    {% if request.user.position == 'seller' and request.user.username == shop.owner.username and request.user.is_seller and request.user.is_seller_mode %}
                    <a href="{% url 'shop_delete' shop.pk %}" class="btn btn-danger alert-danger">Close the Shop (Delete)</a>
                    {% endif %}
                </div>
                <div id="shop-detail-owner">
                    <h6>Owner&Seller: {% if request.user.position == 'seller' and shop.owner.username == request.user.username %}You are the shop owner ({{ shop.owner.get_full_name }}){% else %}{{ shop.owner.get_full_name }}{% endif %}</h6>
                </div>
                <div id="shop-detail-owner">
                    <h6>{% if request.user.position == 'seller' and shop.owner.username == request.user.username and request.user.is_seller_mode%} <p class="text-success">You are in the seller mode</p> {%  elif request.user.position == 'seller' and shop.owner.username == request.user.username and not request.user.is_seller_mode %} <p class="text-danger">You are not in the seller mode</p> {% endif %}</h6>
                    {% if request.user.position == 'seller' and shop.owner.username == request.user.username and request.user.is_seller_mode%}
                        <div class="change-mode">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ request.user.id }}">
                                <input type="hidden" name="is_seller_mode" value="true">
                                <button class="" style="background-color: #92bCa6; color: #fff; font-weight: bolder; border-radius: 5px; padding: 5px" type="submit">Change the mode.</button>
                            </form>
                        </div>
                    {% endif %}
                </div>

                <div class="owner-mode" id="owner-mode">
                    {% if request.user.position == 'seller' and shop.owner.username == request.user.username and not request.user.is_seller_mode %}
                        <form  method="post" id="switch-seller-mode">
                        {% csrf_token %}
                            {% if request.user.is_seller %}
                            <h3 class="owner-message">You are the owner. Want you to switch seller mode?</h3>
                            <div class="owner-yes-no">
                                <input type="hidden" name="user_id" value="{{ request.user.id }}">
                                <input type="hidden" name="is_seller_mode" value="false">
                                <button class="btn btn-outline-primary form-control w-25" type="submit" id="yesBtn">Yes</button>
                                <button id="noBtn" class="btn btn-outline-secondary form-control w-25">No</button>
                            </div>
                                {% else %}
                                <h3 class="owner-message">Your request to be the seller is in the process... please wait!</h3>
                                {% endif %}
                        </form>
                    {% endif %}
                </div>
                <div class="owner-mode d-none" id="owner-mode-again">
                    <a href="" class="text mb-3 mt-1" >Seller mode</a>
                </div>
            </div>
            <section class="products section" id="products">
            {% if request.user.position == 'seller' and request.user.username == shop.owner.username and request.user.is_seller and request.user.is_seller_mode %}
                <div style="text-align: center">
                <a href="{% url 'product_create' shop.pk %}" id="create-product" class="form-control btn btn-outline-success w-50 mb-1">Add product</a>

                <a href="{% url 'category_create' %}" id="create-category" class="form-control btn btn-outline-warning w-50 mb-5">Add Category</a>
                </div>

            {% endif %}
                <div class="products__container container">

                    <h2 class="section__title">
                        Choose {{ shop.name }}'s delicious and best products
                    </h2>
                    <form class="form-inline" method="get">
                        {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="search" name="search" class="form-control" placeholder="Find product you want..." aria-label="Search for...">
                                <button class="btn btn-outline-success" type="submit">Find</button>
                            </div>
                    </form>
                    <ul class="products__filters">
                        <li class="products__item products__line">
                                <div class="input-group">
                                    <input type="text" value="Get all products" class="form-control products__title disabled-input" name="sort_by" id="sort_by" aria-label="Sort Value">
                                    <a href="{% url 'shop_detail' shop.pk %}" type="submit" class="btn btn-outline-secondary">Get</a>
                                </div>
                        </li>
                        {% for category in categories %}
                            <form action="" method="GET">
                            <li class="products__item products__line">
                                <div class="input-group">
                                    <input type="text" value="{{ category.name }}" class="form-control products__title disabled-input" name="sort_by" id="sort_by" aria-label="Sort Value">
                                    <button type="submit" class="btn btn-outline-secondary">Get</button>
                                </div>
                            </li>
                            </form>
                        {% endfor %}
                    </ul>
                    <div class="products__content grid">
                        {% for product in products %}
                            <article class="products__card">
                                <a href="{% url 'product_list' product.pk %}">
                                    <div class="products__shape">
                                        {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="" class="products__img">
                                            {% else %}
                                            <img src="{% static 'img/fast-food.png' %}" alt="food image" class="products__img">
                                        {% endif %}

                                </div>
                                </a>
                            <div class="buy-detail" id="buy-detail">
                                <div class="buy-display mt-2 mb-2">
                                    {% if request.user.is_authenticated %}
                                    <div class="">Do you really want to order?</div>
                                        <form method="post" id="purchaseForm">
                                            {% csrf_token %}
                                            <div class="mt-1">
                                                <input type="hidden" name="product_pk" value="{{ product.pk }}">
                                                <button class="btn btn-outline-success" id="yesBtn" type="submit">Yes</button>
                                                <a href="" class="btn btn-outline-warning">No</a>
                                            </div>
                                        </form>
                                        {% else %}
                                        <a href="{% url 'login' %}" class="alert-warning form-control">You should to login!</a>
                                    {% endif %}
                                    </div>

                            </div>
                                <div class="buy-detail-second" id="buy-detail-second" style="display: none;">
                                    <div class="buy-display mt-2 mb-2">
                                        <div id="errorContainer" style="display: none;"></div>
                                    </div>
                                </div>
                            {% if request.user.position == 'seller' and request.user.username == shop.owner.username and request.user.is_seller and request.user.is_seller_mode %}
                                <div class="mt-3 mb-2" style="display: flex; flex-direction: row">
                                    <a href="{% url 'product_update' product.pk %}" class="btn btn-outline-secondary form-control w-50">Update</a>
                                    <a href="{% url 'product_delete' product.pk %}" class="btn btn-outline-danger form-control w-50">Delete</a>
                                </div>
                            {% endif %}
                            <a class="btn btn-outline-success buy-btn" style="cursor: pointer">Buy</a>
                                <div class="products__data">
                                    <p style="display: none" class="">{{ product.id }}</p>
                                    <h2 class="products__price">{{ product.name }}
                                    </h2>
                                    <h3 class="products__name">{{ product.cost }}tg</h3>
                                    {% if product.number > 0 %}
                                        <span class="products__number">Left: {{ product.number }}</span>
                                        {% else %}
                                            <span class="text-danger">We run out of {{ product.name }}</span>
                                    {% endif %}
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                {% if not request.user.is_seller_mode %}
                <div id="alertBox" class="" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <h1 class="text-center">Overall check</h1>
                                <div class="bill">
                                    <div class="bill-header">
                                        <p class="text-uppercase">Campus&&Crave</p>
                                        <p class="text-uppercase">Almaty, KBTU</p>
                                        <p class="text-uppercase">Phone: 123-456-7890</p>
                                    </div>
                                    <div class="">
                                    {% if not selected_products %}
                                        <p>You have not chosen any products!</p>
                                    {% endif %}
                                        <form method="get" action="{% url 'buy_product' shop.pk %}">
                                        {% csrf_token %}
                                        {% if errors %}
                                        <div class="alert alert-danger">
                                            <strong>Error:</strong> Please correct the following errors:
                                            <ul>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                            <a href="{% url 'shop_detail' shop.pk %}" class="btn btn-outline-secondary">Try again.</a>
                                    {% endif %}
                                            {% for product_pk in selected_products %}
                                                {% with product=product_pk|get_product %}
                                                    {% if product %}
                                                        <li style="display: flex; flex-direction: row" class="mt-3">
                                                            <span class="item-name">{{ product.name }}</span> - - -
                                                            <span class="item-cost">{{ product.cost }}tg</span>
                                                            <input type="number" name="quantities" id="quantity_{{ product.pk }}" min="1" class="form-control w-25 ml-3" required value="1" style="margin-top: -5px">
                                                        </li>
                                                    {% else %}
                                                        <li>Product not found</li>
                                                    {% endif %}
                                                {% endwith %}
                                                <input type="hidden" name="pks" value="{{ product_pk }}">
                                            {% endfor %}
                                            <div class="bill-total">
                                                <p class="text-uppercase">tg</p>
                                            </div>
                                            <button type="submit" class="btn btn-outline-success mt-2 mb-2">Buy Selected Product</button>
                                        </form>

                                        </div>
                                        <form method="get">
                                            <button type="submit" name="reset_selected_products" class="btn btn-outline-danger" id="reset-button">
                                                Reset Selected Products
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </section>
        </div>
     </div>
     </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(e) {

    $('#alertBox .close').click(function() {
        console.log("close");
        $('#alertBox').css('display', 'none');
    });

   $('#purchase').click(function(){
            console.log('Purchase button clicked');
            $('#alertBox').css('display', 'block')
        });


    $('.buy-btn').click(function() {
        var buyDetail = $(this).siblings('.buy-detail');
        if (buyDetail.is(':visible')) {
            buyDetail.hide();
            $(this).text('Back');
        } else {
            buyDetail.show();
            $(this).text('Buy');
        }
    });

    $('.buy-detail .btn-outline-success').click(function() {
        $(this).closest('.buy-detail').hide();
        $(this).closest('.buy-detail').siblings('.buy-btn').text('Back');
    });
    console.log("so lets go further")

    $('#quantity').on('input', function() {
        console.log("works")
            var quantity = parseInt($(this).val());
            var availableQuantity = parseInt('{{ product.number }}');
            console.log(quantity, availableQuantity)
            if (isNaN(quantity)) {
                quantity = 1;
            }
            if (quantity > availableQuantity) {
                $(this).val(availableQuantity);
            }
        })
});
</script>
{% endblock %}