{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
        <main>
            <section class="home grid" id="home">
                    <div class="home__container">
                        <div class="home__content container">
                            <h1 class="home__title">
                                Choose Your Favorite Coffee And Enjoy <span>.</span>
                            </h1>
                            <p class="home__description">
                                Buy the best and delicious coffees.
                            </p>
                            <div class="home__data">
                                <div class="home__data-group">
                                    <h2 class="home__data-number">120K</h2>
                                    <h3 class="home__data-title">Testimonials</h3>
                                    <p class="home__data-description">
                                        Testimonials from various customers who trust us.
                                    </p>
                                </div>

                                <div class="home__data-group">
                                    <h2 class="home__data-number">340+</h2>
                                    <h3 class="home__data-title">Exclusive Product</h3>
                                    <p class="home__data-description">
                                        Premium preparation with quality ingredients.
                                    </p>
                                </div>

                            </div>
                            <a href="#specialty">
                                <img src="{% static 'img/scroll.png' %}" alt="" class="home__scroll">
                            </a>
                        </div>
                    </div>
                <img src="{% static 'img/home.png'%}" alt="" class="home__img">
            </section>

            {% if request.user.position == 'seller' %}
            <div class="specialty section container" id="shop-owner">
                <div class="specialty__container">
                    {% if not request.user.is_seller  and request.user.position == 'seller'%}
                        <h3>Your request to be the seller is in the process... please wait!</h3>
                        {% else %}
                        <div style="display: flex; flex-direction: column; text-align: center">
                        <h3>Your shops are</h3>
                        {% if not shops %}
                            No shops yet
                            {% endif %}
                            {% for shop in shops %}
                                {% if shop.owner.username == request.user.username and request.user.position == 'seller'%}
                                    <a href="{% url 'shop_detail' shop.pk %}">{{ shop }}</a>
                                {% endif %}
                            {% endfor %}
                            <a href="{% url 'shop_create' %}" style="margin: 0 auto;" class="btn btn-outline-success form-control w-25 mt-3" >Create Own Shop</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}


            <!--==================== ESPECIALTY ====================-->
            <div class="specialty section container" id="specialty">
                <div class="specialty__container">
                    <div class="specialty__box">
                        <h6 class="section__title">
                            Our Shops:
                        </h6>
                        <div>
                            <a href="" class="button specialty__button">See more</a>
                        </div>
                        <form class="form-inline" method="get">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="search" name="search" class="form-control" placeholder="Find product you want..." aria-label="Search for...">
                                <button class="btn btn-outline-success" type="submit">Find</button>
                            </div>
                        </form>
                    </div>

                    <div class="specialty__category">
                        {% for shop in shops %}
                            <a href="{% url 'shop_detail' shop.pk %}">
                                <div class="specialty__group specialty__line">
                                    <img src="{{ shop.image.url }}" alt="shop" class="specialty__img">
                                    <h3 class="specialty__title">{{ shop.name }}</h3>
                                    <p class="specialty__description">
                                        {{ shop.location }}
                                    </p>
                                </div>
                            </a>
                         {% endfor %}
                    </div>

                </div>
            </div>

            <!--==================== PRODUCTS ====================-->
            <section class="products section" id="products">
                <div class="products__container container">
                    <h2 class="section__title">
                        Choose our delicious and best products
                    </h2>
                    <ul class="products__filters">
{#                        <li class="products__item products__line">#}
{#                                <div class="input-group">#}
{#                                    <input type="text" value="get all products" class="form-control products__title disabled-input" name="sort_by" id="sort_by" aria-label="Sort Value">#}
{#                                    <a href="{% url 'shop_detail' shop.pk %}" type="submit" class="btn btn-outline-secondary">Get</a>#}
{#                                </div>#}
{#                        </li>#}
                        {% for category in categories %}
                            <form action="" method="GET">
                            <li class="products__item products__line">
                                <div class="input-group">
                                    <input type="text" value="{{ category.name }}" class="form-control products__title disabled-input" name="sort_by" id="sort_by" aria-label="Sort Value">
                                    <button type="submit" class="btn btn-outline-secondary">Get</button>
                                </div>
                            </li>
                            </form>
                        {% endfor %}
                    </ul>
                    
                     <div class="products__content grid">
                        {% for product in products %}
                            <article class="products__card">
                                <a href="{% url 'product_list' product.pk %}">
                                    <div class="products__shape">
                                    <img src="{{ product.image.url }}" alt="" class="products__img">
                                </div>
                                </a>
                            <div class="buy-detail" id="buy-detail">
                                <div class="buy-display mt-2 mb-2">
                                    <div class="">Go to the shop ?</div>
                                    <form method="post" id="purchaseForm">
                                        {% csrf_token %}
                                            <div class="mt-1">
                                                <input type="hidden" name="product_pk" value="{{ product.pk }}">
                                                <a href="{% url 'shop_detail' product.shop.pk %}" class="btn btn-outline-success" id="BuyBtn" type="submit">Yes</a>
                                                <button id="yesBtn" type="submit" class="btn btn-outline-warning">Buy here</button>
                                            </div>
                                    </form>

                                </div>
                            </div>
                                <div class="buy-detail-second" id="buy-detail-second" style="display: none;">
                                    <div class="buy-display mt-2 mb-2">
                                        <div id="errorContainer" style="display: none;"></div>
                                    </div>
                                </div>
{#                                     <button class="button products__button">#}
{#                                        <i class='bx bx-shopping-bag' ></i>#}
{#                                    </button>#}

                            <a class="btn btn-outline-success buy-btn mt-2 mb-3" style="cursor: pointer">Buy</a>
                                <div class="products__data">
                                    <p style="display: none" class="">{{ product.id }}</p>
                                    <h2 class="products__price">{{ product.name }}
                                    </h2>
                                    <h3 class="products__name">{{ product.cost }}tg</h3>
                                    {% if product.number > 0 %}
                                        <span class="products__number">Left: {{ product.number }}</span>
                                        {% else %}
                                            <span class="text-danger">We run out of {{ product.name }}</span>
                                    {% endif %}
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </section>

        <div id="alertBox" class="d-none" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="margin-left: -800px">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <h1 class="text-center">Overall check</h1>
                                <div class="bill">
                                    <div class="bill-header">
                                        <p class="text-uppercase">Campus&&Crave</p>
                                        <p class="text-uppercase">Almaty, KBTU</p>
                                        <p class="text-uppercase">Phone: 123-456-7890</p>
                                    </div>
                                    <div class="">
                                    {% if not selected_products %}
                                        <p>You have not chosen any products!</p>
                                    {% endif %}
{#                                        <form method="get" action="{% url 'buy_product' product.shop.pk %}">#}
                                        {% csrf_token %}
                                        {% if errors %}
                                        <div class="alert alert-danger">
                                            <strong>Error:</strong> Please correct the following errors:
                                            <ul>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                            {% for product_pk in selected_products %}
                                                {% with product=product_pk|get_product %}
                                                    {% if product %}
                                                        <li style="display: flex; flex-direction: row" class="mt-3">
                                                            <span class="item-name">{{ product.name }}</span> - - -
                                                            <span class="item-cost">{{ product.cost }}tg</span>
                                                            <input type="number" name="quantities" id="quantity_{{ product.pk }}" min="1" class="form-control w-25 ml-3" required value="1" style="margin-top: -5px">
                                                        </li>
                                                    {% else %}
                                                        <li>Product not found</li>
                                                    {% endif %}
                                                {% endwith %}
                                                <input type="hidden" name="pks" value="{{ product_pk }}">
                                            {% endfor %}
                                            <div class="bill-total">
                                                <p class="text-uppercase">tg</p>
                                            </div>
                                            <button type="submit" class="btn btn-outline-success mt-2 mb-2">Buy Selected Product</button>
{#                                        </form>#}

                                    </div>
                                    <form method="get">
                                        <button type="submit" name="reset_selected_products" class="btn btn-outline-danger" id="reset-button">
                                            Reset Selected Products
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!--==================== QUALITY ====================-->
            <section class="quality section" id="premium">
                <div class="quality__container container">
                    <h2 class="section__title">
                        We offer a premium and better quality preparation just for you!
                    </h2>

                    <div class="quality__content grid">
                        <div class="quality__images">
                            <img src="{% static 'img/quality1.png' %}" alt="" class="quality__img-big">
                            <img src="{% static 'img/quality2.png' %}" alt="" class="quality__img-small">
                        </div>

                        <div class="quality__data">
                            <h1 class="quality__title">
                                Premium Coffee
                            </h1>
                            <h2 class="quality__price">$94.15</h2>
                            <span class="quality__special">Especial Price</span>
                            <p class="quality__description">
                                some words
                            </p>
                            <div class="quality__buttons">
                                <button class="button">
                                    Buy Now
                                </button>
                                <a href="" class="quality__button">
                                    See more
                                    <i class='bx bx-right-arrow-alt' ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>



            <!--==================== BLOG ====================-->
            <section class="blog section" id="blog">
                <div class="blog__container container">
                    <h2 class="section__title">
                        Our Blogs Coffee with trending topic for this week
                    </h2>

                    <div class="blog__content grid">
                        <article class="blog__card">
                            <div class="blog__image">
                                <img src="{% static 'img/blog1.png' %}" alt="" class="blog__img">
                                <a href="" class="blog__button">
                                    <i class="bx bx-right-arrow-alt"></i>
                                </a>
                            </div>

                            <div class="blog__data">
                                <h2 class="blog__title">
                                    10 Coffee recommendations
                                </h2>
                                <p class="blog__description">
                                    some description
                                </p>
                                <div class="blog__footer">
                                    <div class="blog__reaction">
                                        <i class="bx bx-show"></i>
                                        <span>16.7k</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>

        </main>
    <script>
    $(document).ready(function(e) {

        $("#BuyBtn").click(function (){
            $("#alertBox").removeClass('d-none')
        })

    $('#alertBox .close').click(function() {
        console.log("close");
        $('#alertBox').addClass('d-none')
    });

   $('#purchase').click(function(){
            console.log('Purchase button clicked');
            $('#alertBox').css('display', 'block')
        });


    $('.buy-btn').click(function() {
        var buyDetail = $(this).siblings('.buy-detail');
        if (buyDetail.is(':visible')) {
            buyDetail.hide();
        } else {
            buyDetail.show();
        }
    });

    $('.buy-detail .btn-outline-success').click(function() {
        $(this).closest('.buy-detail').hide();
    });
    $('#quantity').on('input', function() {
        console.log("works")
            var quantity = parseInt($(this).val());
            var availableQuantity = parseInt('{{ product.number }}');
            console.log(quantity, availableQuantity)
            if (isNaN(quantity)) {
                quantity = 1;
            }
            if (quantity > availableQuantity) {
                $(this).val(availableQuantity);
            }
        })
});

</script>
{% endblock %}