{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <title>Campus-Crave</title>
    </head>
    <body>
        <!--==================== LOADER ====================-->


        <!--==================== HEADER ====================-->

        <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'shops' %}" class="nav__logo">
                    <img src="{% static 'img/logo.png' %}" alt="" class="nav__logo-img">
                    Campus && Crave
                </a>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'shops' %}" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#products" class="nav__link">Products</a>
                        </li>
                        <li class="nav__item">
                            <a href="#premium" class="nav__link">Premium</a>
                        </li>
                        <li class="nav__item">
                            <a href="#blog" class="nav__link">Blog</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav__item">
                                <a href="{% url 'order_list' %}" class="nav__link">My orders</a>
                            </li>
                        {% endif %}
                        {% if request.user.is_superuser %}
                             <li class="nav__item">
                                <a href="{% url 'admin_mode_requests' %}" class="nav__link">Requests</a>
                            </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown" id="dropdown-item" >
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Hello, {{ request.user.username }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-item" >
                                    <li><a class="dropdown-item" href="{% url 'profile' %}" id="dropdown-item" >Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'profile_edit' %}" id="dropdown-item" >Edit Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'password_change' %}" id="dropdown-item" >Change Password</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}" id="dropdown-item" >Log-out</a></li>
                                </ul>
                            </li>
                            {% else %}
                                <li class="nav__item">
                                    <a href="{% url 'login' %}" id="dropdown-item">Login</a>
                                </li>
                                <li class="nav__item">
                                    <a href="{% url 'signup' %}" id="dropdown-item">SignUp</a>
                                </li>
                        {% endif %}
                    </ul>
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x' style="color: #ff6600"></i>
                    </div>
                </div>

                    <div class="nav__toggle" id="nav-toggle" style="color: #ff6600">
                        <i class='bx bx-grid-alt' ></i>
                    </div>

            </nav>
        </header>
{#    here I get some code #}
        {% block content %}
        {% endblock %}

        <!--==================== FOOTER ====================-->
{#        <footer class="footer">#}
{#                <div class="footer__container container">#}
{#                    <h1 class="footer__title">Coffee</h1>#}
{##}
{#                    <div class="footer__content grid">#}
{#                        <div class="footer__data">#}
{#                            <p class="footer__description">#}
{#                                Subscribe for our newsletter#}
{#                            </p>#}
{#                            <div class="footer__newsletter">#}
{#                                <input type="email" placeholder="Your email address" class="footer__input">#}
{#                                <button class="footer__button">#}
{#                                    <i class='bx bx-right-arrow-alt'></i>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="footer__data">#}
{#                            <h2 class="footer__subtitle">#}
{#                                Address#}
{#                            </h2>#}
{#                            <p class="footer__information">#}
{#                                Almaty, Kazakhstan#}
{#                            </p>#}
{##}
{#                        </div>#}
{##}
{#                        <div class="footer__data">#}
{#                            <h2 class="footer__subtitle">#}
{#                                Contact#}
{#                            </h2>#}
{#                            <p class="footer__information">#}
{#                                example@gmail.com#}
{#                            </p>#}
{##}
{#                        </div>#}
{##}
{#                        <div class="footer__data">#}
{#                            <h2 class="footer__subtitle">Office#}
{#                            </h2>#}
{#                            <p class="footer__information">some address</p>#}
{##}
{#                        </div>#}
{##}
{##}
{#                    </div>#}
{##}
{#                    <div class="footer__group">#}
{#                        <ul class="footer__social">#}
{#                            <a href="" class="footer__social-link">#}
{#                                <i class="bx bxl-facebook"></i>#}
{#                            </a>#}
{#                            <a href="" class="footer__social-link">#}
{#                                <i class="bx bxl-instagram"></i>#}
{#                            </a>#}
{#                            <a href="" class="footer__social-link">#}
{#                                <i class="bx bxl-twitter"></i>#}
{#                            </a>#}
{#                        </ul>#}
{#                        <span class="footer_copy">#}
{#                            &#169; liu_rus. All rights reserved#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#            </footer>#}


        <!--========== SCROLL UP ==========-->


        <!--=============== MIXITUP FILTER ===============-->
        <script src=""></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>