{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="specialty section container">
        <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
        <div>
            <form action="{% url 'request_create' %}?shop={{ shop.pk }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="shop" value="{{ shop.id }}">
                    <button type="submit" class="btn btn-outline-success">Create</button>
            </form>
        </div>
    </div>
{% endblock %}