{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5 specialty section">
        <div class="card">
        <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Delete Request Confirmation</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <h5 class="alert-heading">Are you sure you want to delete the following post?</h5>
                    <hr>
                    <div class="mb-3">
                        <h5 class="card-title">Request Topic: </h5>
                        <p class="card-text">{{ request.topic }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Description: </h5>
                        <p class="card-text">{{ request.description }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Created At:</h5>
                        <p class="card-text">{{ request.date }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title" style="display: flex; flex-direction: row" >Status: {% if request.approved %} <p class="text-success ml-2">Approved</p> {% else %} <p class="text-danger ml-2">Not approved</p> {% endif %}</h5>
                    </div>
                </div>
                <form action="{% url 'request_delete' request.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="{% url 'request_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}