{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="specialty section container">
    <a href="#" onclick="history.back()" class="form-control w-25 mb-3" id="go-back">Go back</a>
        <div class="products__content grid">
        {% if requests %}
            {% for request_from in requests %}
                <article class="products__card request">
                    <div class="products__data" id="requests">
                        <p style="display: none" class="">{{ request_from.id }}</p>
                        <h2 class="products__price">Topic: {{ request_from.topic }}
                        </h2>
                        <h3 class="products__name">{{ request_from.description|default:"No description" }}</h3>
                            <span class="products__number">Date: {{ request_from.date }}</span>
                            <span style="display: flex; flex-direction: row" class="text">Status: {% if request_from.approved %} <p class="text-success ml-2">Approved</p> {% elif request_from.refused %} <p class="text-danger ml-2">Refused</p> {% else %} <p class="text-warning ml-2">Not approved</p> {% endif %}</span>
                            <div>
                                {% if request.user.is_superuser %}
                                <span class="products__number">From: {{ request_from.user }}</span>
                                {% if request_from.document %}
                                    <a href="{{ request_from.document.url }}" class="alert-success">Download Document</a>
                                {% else %}
                                    <span class="alert-warning">No Document</span>
                                {% endif %}
                            {% endif %}
                            </div>
                            <a href="{% url 'request_update' request_from.pk %}"  id="update" class="btn btn-outline-secondary"><i class='bx bx-edit' style="font-size: 20px; cursor: pointer"></i></a>
                            <a href="{% url 'request_delete' request_from.pk %}" class="btn btn-outline-danger"><i class='bx bx-message-alt-x' style="font-size: 20px; cursor: pointer" ></i></a>
                                {% if request.user.is_superuser %}
                                    <form action="" method="post" class="mt-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="approve_request_id" value="{{ request_from.id }}">
                                        <button type="submit" class="btn btn-outline-primary">Approve</button>
                                    </form>
                                    <form method="post" action="" class="mt-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="refuse_request_id" value="{{ request_from.id }}">
                                        <button type="submit" class="btn btn-outline-danger">Refuse</button>
                                    </form>
                                {% endif %}
                    </div>
                </article>
            {% endfor %}
            {% else %}
            <h2 class="alert-warning form-control">There is no requests yet.</h2>
        {% endif %}
        </div>
    </div>
{% endblock %}