{% extends 'base.html' %}

{% block content %}
    <div class="specialty section container">
        <div class="container">
            <form action="{% url 'request_update' request.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}
